@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.navbar .nav-brand {
  font-size: 2rem;
  font-weight: 600;
}

nav {
  box-shadow: 0 4px 3px -3px rgb(66 64 64 / 20%);
}

.card .card-body a {
  color: black;
  text-decoration: none;
}

.card .card-body a:hover {
  text-decoration: underline;
}

.card .card-body .content {
  text-align: justify;
}

#banner {
  margin: 0 auto;
  margin-top: 50px;
}

#banner .card {
  padding: 0;
}

#banner .card {
  box-shadow: none;
  border-radius: 5px;
}

#banner .card .card-body.flex {
  flex-flow: column;
  justify-content: center;
}

#banner .card img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

#banner .card .card-body .caption {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: gray;
  padding: 10px 0 0 10px;
}

#banner .card .card-body h2 {
  padding: 10px 0 0 10px;
}

#banner .card .card-body .content {
  padding: 10px;
}

.card .card-body .post-meta {
  color: gray;
  padding: 10px 0 0 0;
}

.card .card-body .post-meta p {
  font-size: 10px !important;
  text-transform: uppercase;
  text-align: justify;
  word-break: break-all;
}

#banner .post-meta {
  padding: 10px;
}

#blogs {
  margin-top: 30px;
}

#editors-pick {
  padding-top: 10px;
  padding-left: 0;
}

#editors-pick .card {
  box-shadow: none;
  margin-bottom: 20px;
}

#editors-pick .w-6 {
  padding-left: 0;
}

#editors-pick .row > * {
  padding-left: 0;
  padding-right: 10px;
}

#editors-pick .card-body {
  flex-direction: column;
  padding: 0;
}

#editors-pick .card-body h2 {
  padding: 10px 0 5px 0;
  font-size: 20px;
}

#editors-pick .card-body p {
  font-size: 14px;
}

#trending {
  padding-top: 10px;
}

#trending .card {
  box-shadow: none;
  margin-bottom: 20px;
  padding-left: 0;
}

#trending .card-body {
  flex-direction: column;
  padding: 0;
}

#trending .card-body h4 {
  padding: 0 0 5px 0;
  font-size: 18px;
}

#trending .card-body p {
  font-size: 14px;
}

#blogs .section-subhead {
  border-bottom: 1px solid #222;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0px 0 4px rgb(66 64 64 / 20%);
}

footer h3 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  color: black;
}

footer p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: black;
}

footer .social-media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

footer .social-media li {
  margin: 0 10px;
}

footer .social-media a {
  text-decoration: none;
  padding: 5px;
}

.post-view-icon {
  height: 15px;
  width: 15px;
  padding-bottom: 2px;
}
#home-banner {
  height: 300px;
  background-size: cover;
  background-image: url('../img/banner3.jpg');
}


@keyframes animate {
  0%,100% {
    background-image: url('../img/banner1.jpg');
  }
  25% {
    background-image: url('../img/banner2.jpg');
  }
  50% {
    background-image: url('../img/banner3.jpg');
  }
  75% {
    background-image: url('../img/banner4.jpg');
  }
}

.content-wrapper {
  padding: 40px 80px 0 80px
}

.services {
  padding: 10px;
  justify-content: space-evenly;
}

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}
.image-item {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-item:hover .overlay {
  transform: scale(1);
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}


@media only screen and (max-width: 1024px) {
  #banner .card .card-body {
    padding: 10px;
  }
  #banner .card .row {
    flex-direction: column;
  }

  #editors-pick .row > * {
    padding-right: 5px;
  }

  #editors-pick .w-6 {
    width: 100%;
  }

  #editors-pick .w-4 {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  #banner .card .card-body {
    padding: 5px;
  }
  #blogs .container > .row {
    flex-direction: column;
  }

  #blogs .container > .row > * {
    width: 100%;
  }

  #editors-pick .w-4 {
    display: block;
    width: 100%;
  }
}
